.card {
  margin: 1% auto;
  color: #ff9c00;
  background-color: #000000; //#2776f5
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name {
    cursor: pointer;
  }
}

.delete {
  color: red;
  cursor: pointer;
}

.empty {
  &__button {
    margin-top: 20px;
  }
}
