.card {
  margin: 10px auto;
  background-color: #000000; //#2776f5
  color: #ffffff;
  text-align: center;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  color: red;
  cursor: pointer;
}
