.wrapper {
  width: 100%;
  padding: 0 1.5rem;
  text-align: center;
}

.input-style {
  width: 80%;
}

button {
  outline: none;
}

.products-block {
  text-align: center;
  overflow: scroll;
  scrollbar-width: none;

  &_title {
    color: #249e14;
  }

  &_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ff9c00;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  margin: 1%;
  height: 500px;
  color: #ff9c00;
  background-color: #000000; //#2776f5
}

.action {
  margin: 10px;
}

.button_add-list {
    background-color: #ffcc00;
}

.custom-input {
  background: #ffcc00;
}

.delete {
  color: red;
  cursor: pointer;
}
