<div class="container-fluid wrapper">
  <div class="row new-list d-flex justify-content-center">
    <mat-card class="col-12 card card_add-prod" [formGroup]="productForm">
      <input
        formControlName="listName"
        id="list-name"
        class="form-control custom-input"
        type="text"
        placeholder="Название нового списка"
        autocomplete="off"
      >

      <input
        id="product-name"
        formControlName="productName"
        class="form-control custom-input"
        type="text"
        placeholder="Название продукта"
        [matAutocomplete]="autoProducts"
      >
      <mat-autocomplete #autoProducts="matAutocomplete" (optionSelected)='changeCategory($event.option.value)'>
        <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name">
          <span>{{product.name}}</span>
        </mat-option>
      </mat-autocomplete>

      <input
        type="text"
        id="category-name"
        formControlName="categoryName"
        class="form-control custom-input"
        pattern="Категория"
        placeholder="Категория продукта"
        [matAutocomplete]="autoCategories"
      >
      <mat-autocomplete #autoCategories="matAutocomplete">
        <mat-option *ngFor="let category of filteredCategories | async" [value]="category.name">
          <span>{{category.name}}</span>
        </mat-option>
      </mat-autocomplete>

      <button
        mat-raised-button
        (click)="addProduct()"
        class="button_add-list"
      >
        Добавить
      </button>
    </mat-card>
    <mat-card class="card products-block">
      <div *ngIf="products.length; else emptyProducts">
        <div class="products-block_title" *ngFor="let categoryName of productCategories">
          <p>{{categoryName}}</p>
          <div
            class="products-block_text"
            *ngFor="let product of getProductsByCategory(categoryName)"
          >
            <p>{{product.name}}</p>
            <i class="material-icons delete" (click)="deleteProduct(product.name)">
              delete
            </i>
          </div>
        </div>
      </div>
      <ng-template #emptyProducts>Добавте новый продукт!</ng-template>
    </mat-card>
  </div>
  <button mat-stroked-button color="primary" (click)="saveList()" class="action" [disabled]="!listName.value">Сохранить
    список
  </button>
</div>
