.wrapper {
  width: 100%;
  padding: 0 1.5rem;
  text-align: center;
}

.input-style {
  width: 80%;
}

button {
  outline: none;
}

.products-block {
  text-align: center;
  color: #fff;
  overflow: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  margin: 20px 50px;
  height: 500px;
  background-color: #2776f5;
}

.action {
  margin: 10px;
}
