<div class="container-fluid wrapper">
  <div class="row new-list">
    <mat-card class="col-sm-5 col-md-5 col-lg-5 col-xl-5 card" [formGroup]="productForm">
      <input
        formControlName="listName"
        id="list-name"
        class="form-control mb-4"
        type="text"
        placeholder="Название нового списка"
      >

      <input
        id="product-name"
        formControlName="productName"
        class="form-control mb-4"
        type="text"
        placeholder="Название продукта"
        [matAutocomplete]="autoProducts"
      >
      <mat-autocomplete #autoProducts="matAutocomplete">
        <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name">
          <span>{{product.name}}</span>
        </mat-option>
      </mat-autocomplete>

      <input type="text" id="category-name" formControlName="categoryName" class="form-control mb-4" pattern="Категория"
             [matAutocomplete]="autoCategories">
      <mat-autocomplete #autoCategories="matAutocomplete">
        <mat-option *ngFor="let category of filteredCategories | async" [value]="category.name">
          <span>{{category.name}}</span>
        </mat-option>
      </mat-autocomplete>

      <button
        mat-raised-button
        (click)="addProduct()"
      >
        Добавить
      </button>
    </mat-card>
    <mat-card class="col-sm-4 col-md-4 col-lg-4 col-xl-4 card products-block">
      <div *ngIf="products.length; else emptyProducts">
        <p *ngFor="let prod of products">{{prod.name}}</p>
      </div>
      <ng-template #emptyProducts>Добавте новый продукт!</ng-template>
    </mat-card>
  </div>


  <button mat-stroked-button color="primary" (click)="saveList()" class="action" [disabled]="!listName.value">Сохранить
    список
  </button>
</div>
