<tabset [justified]="true">
  <tab>
    <ng-template tabHeading>
      <span class="my-class">Новый список</span>
    </ng-template>
    <app-list-form></app-list-form>
  </tab>
  <tab>
    <ng-template tabHeading>
      <span>Все списки</span>
    </ng-template>
    <app-all-lists></app-all-lists>
  </tab>
  <tab>
    <ng-template tabHeading>
      <span>Продукты</span>
    </ng-template>
    <app-products></app-products>
  </tab>
  <tab>
    <ng-template tabHeading>
      <span>Друзья</span>
    </ng-template>
    Friends
  </tab>
  <tab>
    <ng-template tabHeading>
      <span>Категории</span>
    </ng-template>
    <app-categories></app-categories>
  </tab>
</tabset>
