.card {
  margin: 1% auto;
  color: #ff9c00;
  background-color: #000000; // #2776f5

  button {
    margin-left: 50px;
  }
}

.action {
  display: flex;
  justify-content: space-around;
  align-items: center;

  & button {
    width: 150px;
  }
}

.category-wrapper {
  margin-top: 20px;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  color: red;
  cursor: pointer;
}
